WEB_CLIENT/xml-resources/web-service-references/Calculator/wsdl/localhost_8080/Calculator/Calculator.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://cal/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://cal/" name="Calculator">
<types>
<xsd:schema>
<xsd:import namespace="http://cal/" schemaLocation="http://localhost:8080/Calculator/Calculator?xsd=1"/>
</xsd:schema>
</types>
<message name="Sub">
<part name="parameters" element="tns:Sub"/>
</message>
<message name="SubResponse">
<part name="parameters" element="tns:SubResponse"/>
</message>
<message name="Div">
<part name="parameters" element="tns:Div"/>
</message>
<message name="DivResponse">
<part name="parameters" element="tns:DivResponse"/>
</message>
<message name="Mul">
<part name="parameters" element="tns:Mul"/>
</message>
<message name="MulResponse">
<part name="parameters" element="tns:MulResponse"/>
</message>
<message name="Add">
<part name="parameters" element="tns:Add"/>
</message>
<message name="AddResponse">
<part name="parameters" element="tns:AddResponse"/>
</message>
<portType name="Calculator">
<operation name="Sub">
<input wsam:Action="http://cal/Calculator/SubRequest" message="tns:Sub"/>
<output wsam:Action="http://cal/Calculator/SubResponse" message="tns:SubResponse"/>
</operation>
<operation name="Div">
<input wsam:Action="http://cal/Calculator/DivRequest" message="tns:Div"/>
<output wsam:Action="http://cal/Calculator/DivResponse" message="tns:DivResponse"/>
</operation>
<operation name="Mul">
<input wsam:Action="http://cal/Calculator/MulRequest" message="tns:Mul"/>
<output wsam:Action="http://cal/Calculator/MulResponse" message="tns:MulResponse"/>
</operation>
<operation name="Add">
<input wsam:Action="http://cal/Calculator/AddRequest" message="tns:Add"/>
<output wsam:Action="http://cal/Calculator/AddResponse" message="tns:AddResponse"/>
</operation>
</portType>
<binding name="CalculatorPortBinding" type="tns:Calculator">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Sub">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Div">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Mul">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Add">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Calculator">
<port name="CalculatorPort" binding="tns:CalculatorPortBinding">
<soap:address location="http://localhost:8080/Calculator/Calculator"/>
</port>
</service>
</definitions>